body {
  background-color: darkblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

#button1 {
	width: 33%;
	margin: 0 auto;
}

#button2 {
	width: 32%;
	margin: 0 auto;
}

#button3 {
	width: 33%;
	margin: 0 auto;
}

#pStats {
	display: flex;
	
}

#specialButton69 {
  display: none;
}

.stat {
  padding-right: 10px;
}